[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-railscasts-theme"]
	path = bundle/vim-railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "submodule/hexhighlight"]
	path = submodule/hexhighlight
	url = https://github.com/yurifury/hexHighlight.git
[submodule "block/vim/textobj-user"]
	path = block/vim/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim/textobj-rubyblock"]
	path = bundle/vim/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/hexhighlight"]
	path = bundle/hexhighlight
	url = https://github.com/yurifury/hexHighlight.git
[submodule "bundle/textobj-rubyblock"]
	path = bundle/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
